$blue-1: #d6e8ee;
$blue-2: #97cadb;
$blue-3: #018abe;
$blue-4: #02457a;
$blue-5: #001b48;
$charcoal: #323232;
$font-display: 'Quicksand', sans-serif;
$font-content: 'Work Sans', sans-serif;

body {
  color: $charcoal;
  font-family: $font-content;
  margin: 20px;
  width: 280px;
  font-family: $font-content;
}

.title {
  font-family: $font-display;
  color: $charcoal;
  text-align: center;
  letter-spacing: 3px;
  font-weight: lighter;
  font-size: 36px;
  padding-bottom: 0;
  padding-top: 20px;
}

.message {
  font-family: $font-content;
  color: $blue-3;
  text-align: center;
  font-weight: lighter;
  width: 60%;
  margin: auto;
  padding-top: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*--- Timer ---*/

.circles {
  display: flex;
  width: 160px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

  .circle:hover input{
    opacity: 0.5;
  }

.circle.-hours {
  background: $blue-5;
  opacity: 1;
}

  .circle.-hours input:hover {
    opacity: 0.7;
  }

.circle.-minutes {
  background: $blue-3;
  margin: 0 -16px;
}

.circle.-seconds {
  background: $blue-2;
}

.circle-input {
  color: white;
  background: transparent;
  font-family: $font-display;
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
  outline: 0;
}

.circle-input::placeholder {
  color: rgba(white, 0.75);
}

.input {
  outline: solid;
  width: 20px;
  display: inline-block;
  margin: 5px;
}

/*--- start button on init state ---*/

.center-button {
  width: 140px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.button {
  background-color: $blue-3;
  font-family: $font-content;
  color: white;
  letter-spacing: 1px;
  font-size: 12px;
  border-radius: 24px;
  font-weight: bold;
  border: none;
  padding: 8px;
  box-shadow: 0px 7px 10px #97CADB;
  outline: none;
  width: 100%;
}

  .button:hover {
    opacity: 0.7;
    cursor: pointer;
  }

/*--- start state ---*/

.mode-wrapper {
  width: 240px;
  margin: auto;
  padding: 8px;
  border-radius: 24px;
  border: 2px solid $blue-2;
  margin-top: 10px;
}

.beats-settings {
  width: 240px;
  margin: auto;
  padding-top: 10px;
}

.mode {
  outline: none;
  width: 100%;
  // padding: 8px;
}

.music-note {
  z-index: -10;
}

.noise-mode {
  width: 240px;
  margin: 10px 20px;
  padding: 8px;
  border-radius: 24px;
  border: 2px solid $blue-2;
  outline: none;
}

.sound-buttons, .material-icons-round {
  outline: none;
}

.sound-buttons {
  background-color: white;
}

.replay {
  margin-left: 30px;
}

.replay, .pause-play, .volume {
  display: inline-block;
  padding-left: 5px;
}

  .replay:hover, .pause-play:hover {
    cursor: pointer;
  }

.volume-slider {
  margin-left: 20px;
  margin-bottom: 3px;
  padding-bottom: 4px;
  width: 100px;
}

.pitch {
  display: inline-block;
  border: 2px solid $blue-2;
  padding: 3px;
  border-radius: 24px;
}

.beats-mode {
  width: 80px;
  padding: 8px;
  float: right;
  border-radius: 24px;
  border: 2px solid $blue-2;
  outline: none;
}

.pitch-hz {
  font-family: 'Work Sans';
  font-weight: bold;
}

.pitch-slider {
  width: 70px;
  margin-left: 10px;
}

.spotify-log-in {
  border-radius: 24px; 
  background-color: #1DB954;
  color: white;
  font-family: 'Work Sans';
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: center;
  padding: 8px;
  width: 240px;
  box-shadow: 0px 7px 10px #94e9b1;
  outline: none;
  margin-left: 20px;
  margin-top: 10px;
}

  .spotify-log-in:hover {
    opacity: 0.7;
    cursor: pointer;
  }

// done state timer
h2 {
  color: white;
}

.done-buttons {
  width: 220px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 60px;
}

.snooze-button, .ok-button {
  width: 47%;
  color: white;
  font-family: $font-content;
  letter-spacing: 1px;
  font-size: 12px;
  border-radius: 24px;
  font-weight: bold;
  border: none;
  padding: 8px;
  box-shadow: 0px 7px 10px #97CADB;
  outline: none;
}

.ok-button {
  float: right;
  background-color: $blue-3;
}

  .ok-button:hover, .snooze-button:hover {
    opacity: 0.7;
    cursor: pointer;
  }

.snooze-button {
  float: left;
  background-color: $blue-2;
}