$blue-1: #d6e8ee;
$blue-2: #97cadb;
$blue-3: #018abe;
$blue-4: #02457a;
$blue-5: #001b48;
$charcoal: #323232;
$font-display: 'Quicksand', sans-serif;
$font-content: 'Work Sans', sans-serif;

body {
  color: $charcoal;
  font-family: $font-content;
  margin: 20px;
  width: 280px;
  font-family: $font-content;
  padding-bottom: 160px;
}

.title {
  font-family: $font-display;
  color: $charcoal;
  text-align: center;
  letter-spacing: 3px;
  font-weight: lighter;
  font-size: 36px;
  padding-bottom: 0;
  padding-top: 20px;
}

.message {
  font-family: $font-content;
  color: $blue-3;
  text-align: center;
  font-weight: lighter;
  width: 60%;
  margin: auto;
  padding-top: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*--- Timer ---*/

.circles {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.circle {
  color: white;
  font-family: $font-display;
  font-weight: bold;
  font-size: 1rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.circle:hover input {
  opacity: 0.5;
}

.circle.-hours {
  background: $blue-5;
  opacity: 1;
}

.circle.-hours input:hover {
  opacity: 0.7;
}

.circle.-mins {
  background: $blue-3;
  margin: 0 -16px;
  position: relative;
}

.circle.-mins::before, .circle.-mins::after {
  content: ":";
  position: absolute;
  color: inherit;
  font-size: 1.25em;
  font-weight: inherit;
}

.circle.-mins::before {
  left: 0;
  transform: translateX(50%);
}

.circle.-mins::after {
  right: 0;
  transform: translateX(-50%);
}

.circle.-secs {
  background: $blue-2;
}

.circle-number {
  background: transparent;
  color: white;
  font-family: $font-display;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.0625rem;
  width: 100%;
  outline: 0;
}

.circle-number::placeholder {
  color: rgba(white, 0.75);
}

.input {
  outline: solid;
  width: 20px;
  display: inline-block;
  margin: 5px;
}

/*--- start button on init state ---*/

.center-button {
  width: 140px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.button {
  color: white;
  background: $blue-3;
  border-radius: 24px;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 12px;
  font-family: $font-content;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 7px 10px #97CADB;
  width: 100%;
}

  .button:hover {
    opacity: 0.7;
    cursor: pointer;
  }

/*--- start state ---*/

.mode-wrapper, .noise-div {
  width: 240px;
  margin: auto;
  padding: 8px;
  border-radius: 24px;
  border: 2px solid $blue-2;
  margin-top: 10px;
}

.beats-settings {
  width: 240px;
  margin: auto;
  padding-top: 10px;
}

.mode, .noise-mode {
  outline: none;
  width: 100%;
  // padding: 8px;
}

  .mode:hover, .noise-mode:hover, .beats-mode:hover {
    cursor: pointer;
  }

.music-note {
  z-index: -10;
  float: left;
}

.sound-buttons, .material-icons-round {
  outline: none;
}

.sound-buttons {
  background-color: white;
}

.replay {
  margin-left: 30px;
}

.replay, .pause-play, .volume {
  display: inline-block;
  padding-left: 5px;
}

  .replay:hover, .pause-play:hover {
    cursor: pointer;
  }

select {
  font-weight: bold;
}

.volume-slider {
  margin-left: 20px;
  margin-bottom: 3px;
  padding-bottom: 2px;
  width: 100px;
}

.pitch {
  display: inline-block;
  border: 2px solid $blue-2;
  padding: 3px;
  border-radius: 24px;
  width: 150px;
}

.beats-mode {
  width: 80px;
  padding: 8px;
  float: right;
  border-radius: 24px;
  border: 2px solid $blue-2;
  outline: none;
}

.pitch-hz {
  font-family: 'Work Sans';
  font-weight: bold;
  float: left;
  padding-top: 4px;
}

.pitch-slider {
  width: 65px;
  margin-left: 5px;
  margin-top: 5px;
}

.spotify-log-in {
  border-radius: 24px;
  background-color: #1DB954;
  color: white;
  font-family: 'Work Sans';
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: center;
  padding: 8px;
  width: 240px;
  box-shadow: 0px 7px 10px #94e9b1;
  outline: none;
  margin-left: 20px;
  margin-top: 10px;
}

.spotify-log-in:hover {
  opacity: 0.7;
  cursor: pointer;
}

.sound-buttons.replay:disabled {
  color: $blue-2;
  cursor: default;
}

// done state timer
h2 {
  color: white;
}

.done-buttons {
  width: 220px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 60px;
}

.snooze-button, .ok-button {
  width: 47%;
  color: white;
  font-family: $font-content;
  letter-spacing: 1px;
  font-size: 12px;
  border-radius: 24px;
  font-weight: bold;
  border: none;
  padding: 8px;
  box-shadow: 0px 7px 10px #97CADB;
  outline: none;
}

.ok-button {
  float: right;
  background-color: $blue-3;
}

.ok-button:hover, .snooze-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.snooze-button {
  float: left;
  background-color: $blue-2;
}

.bg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.bg-wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
