$blue-1: #d6e8ee;
$blue-2: #97cadb;
$blue-3: #018abe;
$blue-4: #02457a;
$blue-5: #001b48;
$charcoal: #323232;
$font-display: 'Quicksand', sans-serif;
$font-content: 'Work Sans', sans-serif;

body {
  color: $charcoal;
  font-family: $font-content;
  margin: 20px;
  width: 280px;
  font-family: $font-content;
}

.title {
  font-family: $font-display;
  color: $charcoal;
  text-align: center;
  letter-spacing: 3px;
  font-weight: lighter;
  font-size: 36px;
  padding-bottom: 0;
  padding-top: 20px;
}

.message {
  font-family: $font-content;
  color: $blue-3;
  text-align: center;
  font-weight: lighter;
  width: 60%;
  margin: auto;
  padding-top: 0;
}

/*--- Timer ---*/

.circles {
  display: flex;
  width: 160px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle.-hours {
  background: $blue-5;
  opacity: 1;
}

.circle.-mins {
  background: $blue-3;
  margin: 0 -16px;
}

.circle.-secs {
  background: $blue-2;
}

.circle-input, .circle-label {
  color: white;
  background: transparent;
  font-family: $font-display;
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
  outline: 0;
}

.circle-input::placeholder {
  color: rgba(white, 0.75);
}

.input {
  outline: solid;
  width: 20px;
  display: inline-block;
  margin: 5px;
}

/*--- start button on init state ---*/

.center-button {
  width: 140px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.button {
  background-color: $blue-3;
  font-family: $font-content;
  color: white;
  letter-spacing: 1px;
  font-size: 12px;
  border-radius: 24px;
  font-weight: bold;
  border: none;
  padding: 8px;
  box-shadow: 0px 7px 10px #97CADB;
  outline: none;
  width: 100%;
}

  .button:hover {
    opacity: 0.7;
  }

/*--- start state ---*/

.mode-wrapper, .beats-settings {
  width: 240px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 24px;
}

.mode {
  outline: solid;
  outline-width: 2px;
  outline-color: $blue-2;
  width: 100%;
  padding: 8px;
}

.noise-mode {
  outline: solid;
  outline-width: 2px;
  outline-color: $blue-2;
  width: 240px;
  margin-left: 20px;
  padding: 8px;
}

.sound-buttons, .material-icons-round {
  background-color: white;
  outline: none;
}

.replay {
  margin-left: 30px;
}

.replay, .pause-play, .volume {
  display: inline-block;
}

.sound-on, .pause-play {
  margin-left: 5px;
}

.volume-slider {
  margin-left: 10px;
  margin-bottom: 3px;
  padding-bottom: 4px;
}

.pitch {
  display: inline-block;
  outline: solid;
  outline-width: 2px;
  outline-color: $blue-2;
  padding: 3px;
}

.beats-mode {
  outline: solid;
  outline-width: 2px;
  outline-color: $blue-2;
  width: 70px;
  padding: 8px;
  float: right;
}

.pitch-hz {
  font-family: 'Work Sans';
  font-weight: bold;
}

.pitch-slider {
  width: 70px;
  margin-left: 10px;
}

.spotify-log-in {
  border-radius: 24px;
  background-color: #1DB954;
  color: white;
  font-family: 'Work Sans';
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: center;
  padding: 8px;
  width: 240px;
  box-shadow: 0px 7px 10px #94e9b1;
  outline: none;
  margin-left: 20px;
}

  .spotify-log-in:hover {
    opacity: 0.7;
  }
