.widget-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
}

.widget-lhs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.widget-image {
  width: 3rem;
  height: 3rem;
  background: $blue-1;
  border: thin solid $blue-2;
}

.widget-data {
  margin-left: 0.75rem;
}

.song-title {
  font-family: $font-content;
  font-weight: bold;
}

.song-meta {
  line-height: 1.25;
}

.widget-slider {
  width: 100%;
  margin-top: 8px;
}

.widget-buttons {
  display: flex;
}

.widget-next {
  margin-left: 4px;
}

.widget-times {
  display: flex;
  justify-content: space-between;
}
